@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-conteiner {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-all {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-transparent {
  font-family: inherit;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 160px;
  height: 23px;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
}

.button-green {
  background-color: #7DB54F;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
}



.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 445px;
}

.navigation-user {
  max-width: 306px;
  margin-left: auto;
}

.navigation-link {
  font-size: 22px;
  color: inherit;
  background-color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 1200px auto;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-lettering {
  display: block;
  margin: 0 auto;
}



.advantages-list {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;

}

.advantages-title-white {
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.wrapper-block {
  display: block;
  width: 400px;
}

.advantages-real-town {
  display: flex;
}

.advantages-header {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.advantages-white {
  display: flex;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-light-blue {
  align-items color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}


.advantages-blue {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-background-white {
  width: 400px;
}

.advantages-list-two .advantages-list {
  display: flex;
}

.contact-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.phone-number a {
  color: #000000;
  text-decoration: none;
}

.phone-number {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  width: 720px;
}

.hotel-search {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.hotel-search-title {
  text-transform: uppercase;
}


.page-footer {
  color: #000000;
  background-color: #ffffff;

  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-footer-inner {
  color: #000000;
  background-color: #ffffff;
}

.page-footer-inner .mailing-list {
  color: #000000;
}

.htmlacademy {
  text-align: right;
  color: #000000;
  background-color: #ffffff;
  width: 120px;
  margin-left: auto;
}

.mailing-list {
  text-align: center;
  color: #ffffff;
  background-image: url("../images/background-footer.jpg");
  background-size: 1200px auto;
  background-repeat: no-repeat;
}

.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.footer-social {
  color: #000000;
  background-color: #ffffff;
  width: 157px;
  margin-right: 60px;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;

}

.main-inner {
  color: #000000;
  background-color: #ffffff;
}

.inner-header {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;

}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.hotels-found {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
}

.hotels-card-link {
  text-decoration: none;
  color: #000000;
}

.hotels-card p {
  font-size: 18px;
  line-height: 23px;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 23px;
}

.rating {
  font-size: 16px;
  line-height: 21px;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
